.page {
  min-height: 100vh;
  background-color: #fff;
}

.navbar {
  background-color: #fff;
}

.landing {
  background-image: url('/media/index.jpg');
  background-position: center;
  background-size: cover;
}

.section {
  padding: 0%;
}

.js {
  background-image: url('/media/js.png');
  background-position: center;
  background-size: cover;
}
.node {
  background-image: url('/media/node.png');
  background-position: center;
  background-size: cover;
}

.java {
  background-image: url('/media/java.png');
  background-position: center;
  background-size: cover;
}

.five {
  background-image: url('/media/html5.png');
  background-position: center;
  background-size: cover;
}
.three {
  background-image: url('/media/css3.png');
  background-position: center;
  background-size: cover;
}
.ts {
  background-image: url('/media/ts.png');
  background-position: center;
  background-size: cover;
}

.cc {
  background-image: url('/media/cc.png');
  background-position: center;
  background-size: cover;
}

.office {
  background-image: url('/media/office.png');
  background-position: center;
  background-size: cover;
}

.react {
  background-image: url('/media/react.png');
  background-position: center;
  background-size: cover;
}

.is-child{
  padding: 0;
}

.js, .java{
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.five, .ts, .three, .cc, .office, .node {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
}