.page{
  min-height: 100vh;
  background-color: #ccc;
}

.navbar{
  background-color: #fff;
}

.landing {
	background-image: url('/media/index.jpg');
	background-position: center;
	background-size: cover;
}